// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.quote {
  display: block;
  max-width: 600px;
}

.note-box {
  width: 30%;
  padding: 1em;
  background-color: green;

}
